<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Buy Now</button>
            <h2>Expiration Date</h2>
            <h2>{{general.expirationDate}}</h2>
        </div>
        <div class="col-lg-6">
            <h2>{{general.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{general.videoID}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Hãy thưởng thức ngay</p>
        </div>
        <div class="col-lg-3">
            <img src="https://i.pinimg.com/474x/a7/5d/7e/a75d7ef2748d2cdb8a3589c4ce583d06.jpg" alt="">
            <img src="https://img.lovepik.com/desgin_photo/40101/6217_detail.jpg!detail808" alt="" width="134%">
        </div>
    </div>
</div>